/* global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* nav */

.nav {
    background-color: grey;
    width: 40vw;
    height: 60vh;
    padding: 2rem;
    position: relative;
    /* transform: rotate(60deg); */
}

ul {
    padding-top: 6rem;
}

.item {
    cursor: pointer;
    list-style-type: none;
    padding: 1rem;
    font-size: 1.4rem;
    transition: .1s all ease-in-out;
}

.item:hover {
    transform: translateX(2%);
}

.logo-container {
    background-color: aqua;
    height: 12rem;
    padding: 2.5rem;
    border-radius: 50%;
    width: 12rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    transition: .7s transform ease-in-out;
}

.logo-inactive {
    transform: translate(-40%, -40%) rotate(45deg);
}

.logo-active {
    transform: translate(-40%, -40%) rotate(-135deg);
}

.logo {
    font-size: 1.75rem;
    color: white;
    transition: .15s all ease-in-out;
    cursor: pointer;
    transform: rotate(-45deg);
}

.logo:hover {
    color: black;
}