/* global */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Ubuntu:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-color: #EBAE93;
}

.body-expand {
    max-height: 100vh;
    overflow: hidden;
}

h1 {
    font-size: 3.5rem;
    font-family: 'Ubuntu',
        sans-serif;
    margin: 1rem;
}

p,
li {
    font-family: 'Poppins',
        sans-serif;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.8rem;
    margin: 1rem;
}

.main-nav-container {
    position: relative;
}

/* nav */

.nav {
    background-color: #EBAE93;
    width: 120vw;
    height: 100vh;
    padding: 2rem;
    position: relative;
    transform: translateX(-20vw);
    transition: .5s transform ease-in-out;
}

.nav-expand {
    transform: translate(-16vw, -40vh) rotate(-30deg);
}

.nav-items {
    height: 100%;
    transform: rotate(30deg);
    position: absolute;
    top: 50vh;
    left: 0;
    color: #441A01;
    font-weight: bolder;
}

.item {
    cursor: pointer;
    list-style-type: none;
    padding: .85rem;
    font-size: 1.4rem;
    transition: .1s all ease-in-out;
}

.item:hover {
    transform: translateX(5%);
    border-bottom: 1px solid #441A01;
}

.logo-container {
    background-color: #EBAE93;
    height: 14rem;
    padding: 3.1rem;
    border-radius: 50%;
    width: 14rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    transition: .7s transform ease-in-out;
    transition: .7s background-color ease-in-out;
    z-index: 5;
}

.logo-container-active {
    background-color: #C4515C;
}

.logo-inactive {
    transform: translate(-40%, -40%) rotate(45deg);
}

.logo-active {
    transform: translate(-40%, -40%) rotate(-135deg);
}

.logo {
    font-size: 1.9rem;
    color: white;
    cursor: pointer;
    transform: rotate(-45deg);
}

.logo:hover {
    color: #441A01;
}

/* main */

.blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    top: 0;
    left: 20vw;
    background-color: white;
}

.cover-img {
    width: 60vw;
    height: 45vh;
    object-fit: cover;
    margin: 1rem 3rem 3rem 0;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.text {
    margin: 1.5rem;
    text-align: justify;
    line-height: 2rem;
    width: 40vw;
    font-size: 1.25rem;
}

.outliers-img {
    margin: 1rem;
}

.intro-text {
    text-align: center;
    font-style: italic;
}